.btn__order button {
    @include button;
    background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 5px;
    color: #fff;
    font-weight: bold;
    box-shadow: 4px 4px 6px #aaa;
    cursor: pointer;
    margin: auto;
    padding: 20px;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn__order button:hover {
    animation: fill 0.3s ease-in-out;
    background-image: linear-gradient(to left, #1cc457, #1ebd90, #71dd29, #c1e140, #1d944b);
    color: black;
}