.main__menu {
	@include main-menu;
  }
  .full__menu {
	@include desktop; 
	  display: flex;
	  justify-content: space-around;
	}
  
  .starter {
	animation: fadein 3s ease-in-out;
	@include desktop; 
	  width: 400px;
	}
  
  .dish {
	animation: fadein 6s ease-in-out;
	@include desktop; 
	  width: 400px;
	}
  
  .dessert {
	animation: fadein 9s ease-in-out;
	@include desktop; 
	  width: 400px;
	}

.the-card h3{
	padding-left: 10px;
}

.menu__title h2{
	@include title-restaurant	
	
}  

.menu__title{
	@include backgroundcolor
}
.main__menu {
	@include backgroundcolor
}

.check{
	@include checkcolor
}