.main__menu {
	@include main-menu;
  }
  .full__menu {
	@include desktop; 
	  display: flex;
	  justify-content: space-around;
	}

	.the-card h3{
		padding-left: 10px;
		font-weight: 300;
	}
  
  .starter {
	animation: fadein 1.5s ease-in-out;
	max-width: 100%;
	@include desktop; 
	  width: 400px;
	}
  
  .dish {
	animation: fadein 2s ease-in-out;
	max-width: 100%;
	@include desktop; 
	  width: 400px;
	}
  
  .dessert {
	animation: fadein 2.5s ease-in-out;
	max-width: 100%;
	@include desktop; 
	  width: 400px;
	}

.menu__title h2{
	@include title-restaurant	
	
}  

.menu__title{
	@include backgroundwhite
}
.main__menu {
	@include backgroundcolor
}

.check{
	@include checkcolor
}


.spaceafterbutton {
	height: 30px;
	width: 100%;
	@include backgroundcolor
}



.fillheart {
	color: black;
	cursor: pointer;
	&:hover {
	  display: inline-block;
	  background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
	  background:-webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color:transparent;
	  font-weight: bold;
	  animation: fill 0.5s ease-in-out;
	}
  }

.the-card h4, p{
	margin: 0;
}

.the-card h4{
	padding: 2% 0% 0% 3%;
}

.the-card p{
	padding: 2% 0% 2% 3%;
}

.the-card {
	max-width: 100%;
}

.full__menu h3 {
	@media screen and (min-width:map-get($breakpoints, desktop))
    {
		width: 110px;
		height: 35px;
		background-color: $secondary-color;
		border-radius: 15px;

    }
	@media screen and (min-width:map-get($breakpoints, tablet))
    {
		width: 110px;
    height: 35px;
    background-color: $secondary-color;
    border-radius: 15px;
    }
}