@mixin tablet {
    @media screen and (min-width:map-get($breakpoints, tablet)){
      @content;
    }
  }
  @mixin desktop {
    @media screen and (min-width:map-get($breakpoints, desktop)){
      @content;
    }
  }
  @mixin large {
    @media screen and (min-width:map-get($breakpoints, large)){
      @content;
    }
  }
  
  @mixin medium-screen {
    @media screen and (min-width: map-get($breakpoints, medium)) {
      @content;
    }
  }

  @mixin title-restaurant {
    @media screen and (min-width:map-get($breakpoints, desktop))
    {
      margin-left: 42%;
      margin-bottom: 0%;
    }

    @media screen and (min-width:map-get($breakpoints, tablet))
    {
      margin-left: 34%;
      margin-bottom: 0%;
    }
   
  }  

  @mixin backgroundcolor {
    @media screen and (min-width:map-get($breakpoints, desktop))
    {
      background-color: $tertiary-color;
    }

    @media screen and (min-width:map-get($breakpoints, tablet))
    {
      background-color: $tertiary-color;
    }
   
  }  

  @mixin backgroundwhite {
    @media screen and (min-width:map-get($breakpoints, desktop))
    {
      background-color: #e7ebe9;
    }

    @media screen and (min-width:map-get($breakpoints, tablet))
    {
      background-color: #e7ebe9;
    }
   
  }  

  @mixin checkcolor {
    @media screen and (min-width:map-get($breakpoints, desktop))
    {
      color: $tertiary-color;
    }

    @media screen and (min-width:map-get($breakpoints, tablet))
    {
      color: $tertiary-color;
    }
   
  }  


  @mixin noboxshadow {
    @media screen and (min-width:map-get($breakpoints, desktop))
    {
      box-shadow: none;
    }
    @media screen and (min-width:map-get($breakpoints, tablet))
    {
      box-shadow: none;
    }
  }

  @mixin maxwidth {
    @media screen and (min-width:map-get($breakpoints, desktop))
    {
      max-width: 60%;
    }
    @media screen and (min-width:map-get($breakpoints, tablet))
    {
      max-width: 60%;
    }
  }

  @mixin center {
    @media screen and (min-width:map-get($breakpoints, desktop))
    {
      padding: 0% 20% 0% 20%;
      align-items: center;
    }
    @media screen and (min-width:map-get($breakpoints, tablet))
    {
      padding: 0% 20% 0% 20%;
      align-items: center;
    }
  }

  @mixin large-center {
    @media screen and (min-width:map-get($breakpoints, desktop))
    {
      padding: 0% 10% 0% 10%;
      align-items: center;
    }
    @media screen and (min-width:map-get($breakpoints, tablet))
    {
      padding: 0% 10% 0% 10%;
      align-items: center;
    }
  }

  @mixin cardimg {
    @media screen and (min-width:map-get($breakpoints, desktop))
    {
      max-height: 195px;
    }

    @media screen and (min-width:map-get($breakpoints, tablet))
    {
      max-height: 120px
    }
    @media screen and (min-width:map-get($breakpoints, medium))
    {
      max-height: 135px
    }
  }  

  @mixin cardsize {
    @media screen and (min-width:map-get($breakpoints, desktop))
    {
      min-width: 25%;

    }

    @media screen and (min-width:map-get($breakpoints, tablet))
    {
      min-width: 25%;
      min-height: 200px;
      max-height: 250px;
    }
   
  }  

  @mixin flexcenter {
    @media screen and (min-width:map-get($breakpoints, desktop))
    {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media screen and (min-width:map-get($breakpoints, tablet))
    {
      display: flex;
      align-items: center;
      justify-content: center;
    }
   
  }  

  @mixin smallmarginbottom {
    @media screen and (min-width:map-get($breakpoints, desktop))
    {
      margin-bottom: 2%;
    }

    @media screen and (min-width:map-get($breakpoints, tablet))
    {
      margin-bottom: 2%;
    }
   
  }  

  @mixin nomargin {
    @media screen and (min-width:map-get($breakpoints, desktop))
    {
      margin: 0%;
    }

    @media screen and (min-width:map-get($breakpoints, tablet))
    {
      margin: 0%;
    }
   
  }  

  @mixin nopadding {
    @media screen and (min-width:map-get($breakpoints, desktop))
    {
      padding: 0%;
    }

    @media screen and (min-width:map-get($breakpoints, tablet))
    {
      padding: 0%;
    }
   
  }