body {
	font-family: "Roboto", sans-serif;
}

 .line {
	width: 40px;
	border: 2px solid $tertiary-color;
	margin: 0px 0px 15px 15px;
  }
 
  .last__line {
      p {
          margin: 0;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1.5em;
  }
  .menu__title {
      font-family: Shrikhand, sans-serif;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 35px 15px 20px;
  }
  
.menu__title h2{
     font-size: 29px;
}

.meals { 
	display: flex;
	align-items: center;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px #eee4e4;
  margin-left: auto;
  margin-right: auto;
	width: 90%;
  max-height: 70px;
  margin-bottom: 5%;
  padding: 0.5%;
	
	background-color: #fff;
  }
  .meals:hover .check{
    width: 60px;
    opacity: 1;
  }
  
  .meals:hover .fa-check-circle{
    transform: rotate(360deg);
    transition: transform 500ms;
  }

 
  .meals1 {
    -webkit-animation: glissement 1000ms 1000ms both;
            animation: glissement 1000ms 1000ms both;
  }
  
  .meals2 {
    -webkit-animation: glissement 1000ms 1250ms both;
            animation: glissement 1000ms 1250ms both;
  }
  
  .meals3 {
    -webkit-animation: glissement 1000ms 1500ms both;
            animation: glissement 1000ms 1500ms both;
  }

  .meals4 {
    -webkit-animation: glissement 1000ms 1750ms both;
            animation: glissement 1000ms 1750ms both;
  }

  .meals5 {
    -webkit-animation: glissement 1000ms 2000ms both;
            animation: glissement 1000ms 2000ms both;
  }

  .meals6 {
    -webkit-animation: glissement 1000ms 2250ms both;
            animation: glissement 1000ms 2250ms both;
  }

  .meals7 {
    -webkit-animation: glissement 1000ms 2500ms both;
            animation: glissement 1000ms 2500ms both;
  }

  .meals8 {
    -webkit-animation: glissement 1000ms 2750ms both;
            animation: glissement 1000ms 2750ms both;
  }

  .meals9 {
    -webkit-animation: glissement 1000ms 3000ms both;
            animation: glissement 1000ms 3000ms both;
  }

  .meals10 {
    -webkit-animation: glissement 1000ms 3250ms both;
            animation: glissement 1000ms 3250ms both;
  }

  .meals11 {
    -webkit-animation: glissement 1000ms 3500ms both;
            animation: glissement 1000ms 3500ms both;
  }

  .meals12 {
    -webkit-animation: glissement 1000ms 3750ms both;
            animation: glissement 1000ms 3750ms both;
  }
  
.infomenu {
  width: 100px;
  
  flex-grow: 1;
   /*padding: 8px 0px 10px 10px;*/
}  

.infomenu h4{
  font-size: large;
  max-height: 20px;
  position: sticky;
}

.infomenu p{
  max-height: 20px;
}
  

.infomenu h4,.infomenu p{
  white-space : nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}  

.check {
	background-color: #99E2D0;
	height: 71px;
	width: 0px;
  padding: 0.5%;
  margin-right: -0.6%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 330ms ;
  opacity: 0;
  border-radius: 0px 15px 15px 0px;
  & .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
    }
}
.prix {
	align-self: flex-end;
	padding: 0% 4.5% 3.5% 0%;
  font-weight: bold;
}

/* Mediaqueries */

.meals {
	@include noboxshadow 
}